<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="core.ApiTestListener"/>
    </listeners>
    <test name="Authentication Tests">
        <classes>
            <class name="tests.auth.PostLogin"/>
        </classes>
    </test>
    <test name="Sport Category Tests">
        <classes>
            <class name="tests.sportcategory.GetCategory"/>
            <class name="tests.sportcategory.PostCreateCategory"/>
            <class name="tests.sportcategory.UpdateCategoryById"/>
            <class name="tests.sportcategory.DeleteCategoryById"/>
        </classes>
    </test>
    <test name="Transaction Tests">
        <classes>
            <class name="tests.transaction.GetAllTransaction"/>
        </classes>
    </test>
    <test name="Authentication - Tests (Close)">
        <classes>
            <class name="tests.auth.PostSignOut"/>
        </classes>
    </test>
</suite>